{% load static %}
<link href="https://fonts.googleapis.com/css?family=Gelasio|Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


<div class="logo">
    <div>
        <img src='{% static "polls/images/logo_white.svg" %}' alt="logo">
    </div>
    <h1 class="title">The Survey Gull</h1>
</div>

<div class="questions" >
    <h2>Questions:</h2>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No polls are available.</p>
</div>
{% endif %}
