{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Polls - {% block title %}{% endblock%}</title>
</head>
<body>
    <main><nav>
        <div class="nav-wrapper">
            <a href="{% url 'polls:index' %}" class="brand-logo center">Polls</a>
        </div>
    </nav>
    <div class="container">
        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
    </main>
    <footer class="page-footer">
        <div class="container">
        <div class="row">
            <div class="col l6 s12">
            <h5 class="white-text">Polls App</h5>
            <p class="grey-text text-lighten-4">You can vote whatever and whoever you want. This is democracy!</p>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        © 2020 Boom Camp - Jaako Andes
        <a class="grey-text text-lighten-4 right" href="#!">More Apps</a>
        </div>
        </div>
    </footer>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>