body {
    background-color: #ff7a8b;
    display: flex;
    justify-content: center;
    height: 98vh;
    width: 98vw;
    align-items: center;
}
.card{
    font-family: 'Vollkorn', serif;
    height: 100%;
}

.title{
    color: #fff;
    font-size: 100px;   
}

.option{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin: 10px;
}

.option-index{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin: 10px;
}
    .option-index:hover{
        color: #fff;
    }
